/* make all buttons 20 by 20 pixels with white text and green background and a 10 pixel margin */
button { width: 70px; height: 70px; background: white; color: white; margin: 10px; }

/* make all tags with the "cool" class name have blue text */



/* make the button with ID "delete" red */
#Dialer {width:100px; height:50; background: lavenderblush;  margin:15px; margin-top:10; border-style: solid; vertical-align: text-top;}
#add { width:100px; height:50; background: lavenderblush; margin:15px; margin-top: 10; border-style: solid; vertical-align: text-top;}
#list { width:100px; height:50; background: lavenderblush; margin:15px; margin-top:10; border-style: solid; vertical-align: text-top;  }
#gestures { width:100px; height:50; background: lavenderblush; margin:15px; margin-top:10; border-style: solid; vertical-align: text-top;  }


#n1{width:70px; height:40px;border-style: solid; margin:10px; background: lavenderblush}
#n2{width:70px; height:40px;border-style: solid; margin:10px; background: lavenderblush}
#n3{width:70px; height:40px;border-style: solid; margin:10px; background: lavenderblush}
#n4{width:70px; height:40px;border-style: solid; margin:10px; background: lavenderblush}
#n5{width:70px; height:40px;border-style: solid; margin:10px; background: lavenderblush}
#n6{width:70px; height:40px;border-style: solid; margin:10px; background: lavenderblush}
#n7{width:70px; height:40px;border-style: solid; margin:10px; background: lavenderblush}
#n8{width:70px; height:40px;border-style: solid; margin:10px; background: lavenderblush}
#n9{width:70px; height:40px;border-style: solid; margin:10px; background: lavenderblush}
#n0{width:70px; height:40px;border-style: solid;  margin:10px; background: lavenderblush}
#n10{width:70px; height:40px;border-style: solid;  margin:10px; background: lavenderblush}
#n11{width:70px; height:40px;border-style: solid;  margin:10px; background: lavenderblush}
#nDial{width:117px; height:40px;border-style: solid;  margin:10px; background: lavenderblush}
#nClear{width:117px; height:40px; border-style: solid;  margin:10px; background: lavenderblush}
#nAdd_contact{width:117px; height:40px; border-style: solid;  margin:10px; background: lavenderblush}
#name1{width:117px; height:50px; border-style: solid;  margin:10px; background: lavenderblush; vertical-align: text-top;}
#name2{width:117px; height:50px; border-style: solid;  margin:10px; background: lavenderblush; vertical-align: text-top;}
#name3{width:117px; height:50px; border-style: solid;  margin:10px; background: lavenderblush; vertical-align: text-top;}

#gesture_area {width:300px; height:300px;   margin:10px; background: silver;}
#gesture_output {width:200px; height:40px;  text-align:center; border-style: solid red;  margin:10px; background: lightgreen;}


/*how to change button
I clike the button but it return to the orginal UI
how to show something in the text
