#tab_bar {background:#000; padding-top:20px;}
#tab_bar button {margin-right: 5px; margin-bottom: 10px;}
#content {padding:20px;}
#content_dialer {margin-top:10px; font-size: xx-large;}

body {background-color: black; color: white;}

.key {background-color: black; color: white;}

#Dialer {font-size: 200%; width:150px; height:100;background: black; color: white; margin:15px; margin-top:10; border-style: solid; vertical-align: text-top;}
#add {font-size: 200%; width:150px; height:100; background: black; color: white; margin:15px; margin-top: 10; border-style: solid; vertical-align: text-top;}
#list {font-size: 200%; width:150px; height:100; background: black; color: white; margin:15px; margin-top:10; border-style: solid; vertical-align: text-top;  }


#phone_number {font-size: large; text-align:left; height:80px; width: 80%;}


#nClear{margin-top: 30px;background: black; color: white;}
#nDial {margin-top: 30px;background: black; color: white;}

/*add_contact*/
#nAdd_contact{width:200px; height:80px;border-style: solid; margin:10px; font-size: 170%; background: black; color: white;}
#a111 { font-size: 200%; width: 300px; background: black; color: white;}
#a222 { font-size: 200%; width: 300px; background: black; color: white;}
#a333 { font-size: 200%; width: 300px; background: black; color: white;}
/*dialer*/
#n1{width:100px; height:80px;border-style: solid; margin:10px; font-size: 170%;}
#n2{width:100px; height:80px;border-style: solid; margin:10px; font-size: 170%;}
#n3{width:100px; height:80px;border-style: solid; margin:10px; font-size: 170%;}
#n4{width:100px; height:80px;border-style: solid; margin:10px; font-size: 170%;}
#n5{width:100px; height:80px;border-style: solid; margin:10px; font-size: 170%;}
#n6{width:100px; height:80px;border-style: solid; margin:10px; font-size: 170%;}
#n7{width:100px; height:80px;border-style: solid; margin:10px; font-size: 170%;}
#n8{width:100px; height:80px;border-style: solid; margin:10px; font-size: 170%;}
#n9{width:100px; height:80px;border-style: solid; margin:10px; font-size: 170%;}
#n0{width:100px; height:80px;border-style: solid; margin:10px; font-size: 170%;}
#n10{width:100px; height:80px;border-style: solid; margin:10px; font-size: 170%;}
#n11{width:100px; height:80px;border-style: solid; margin:10px; font-size: 170%;}
#nDial{width:200px; height:80px;border-style: solid; margin:10px; font-size: 170%;}
#nClear{width:200px; height:80px;border-style: solid; margin:10px; font-size: 170%;}

/*contact_list*/
#name1{font-size: 170%; width:150px; height:100px; border-style: solid;  margin:10px; background: black; color: white; vertical-align: text-top;}
#name2{font-size: 170%; width:150px; height:100px; border-style: solid;  margin:10px; background: black; color: white;  vertical-align: text-top;}
#name3{font-size: 170%; width:150px; height:100px; border-style: solid;  margin:10px; background: black; color: white;  vertical-align: text-top;}

#lowVision {margin-top: 20px;}

#phone_number { font-size: 200%; background: black; color: white;}

#about {font-size: 150%;}
